body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #c0c0c0
}

.avatar {
    width: 150px;
    border: 2px solid #0c080b;
    border-radius: 5px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: right;
    background-color: #d8d0c1;
    color: #0c080b;
    border-bottom: 6px solid #0c080b;
    border-radius: 5px;
    box-shadow: 0px 6px 10px 0px rgba(10, 10, 10, 0.35);
    background-image: radial-gradient(#8d8275 0.5px, #d8d0c1 0.5px);
    background-size: 10px 10px;
}

.info {
    line-height: 5px;
}
.job {
    margin-top: 61px;
    margin-bottom: 0;
}

.border-blue {
    border: 1px dotted blue;
}
